<div class="home-component page-component">
  <div class="home-card-container">
    <div class="home-card" *ngFor="let card of cardHeaderContent">
      <!-- <span class="home-card-name" *ngIf="card.title" >Nome teste</span> -->
      <span class="home-card-link">Saiba mais</span>
      <img src="../../../assets/imgs/cursedKieran.jpg" class="home-card-img-simple" alt="">
      <span class="home-card-dsc">{{card.dsc}}</span>
    </div>
  </div>
  <app-projects></app-projects>
  <app-contact></app-contact>
</div>
