<div class="cards-visibility" *ngIf="cardsTheme('Contatos')">

  <div class="cards-typeofVisibility" *ngIf="isProject">
    <div class="card-component" *ngIf="getItemCards()">
      <h2 class="component-title">Projetos realizados</h2>
      <div class="card" style="width: 18rem;" *ngFor="let item of itemCardsProject">
        <img [src]="item.img" class="card-img-top" [alt]="item.alt">
        <h4 class="card-title"> {{ item.tlt }} </h4>
        <div class="card-body">
          <p class="card-dsc">
            {{ item.dsc }}
          </p>
          <a class="card-btn" role="button" href="#">Saiba Mais</a>
        </div>
      </div>
    </div>

    <!-- <div class="cardImgtest" *ngFor="let img from imgs">
      <img [src]="img" alt="">
    </div> -->
  </div>

  <div class="cards-typeofVisibility" *ngIf="isContact">
    <div class="card-component" *ngIf="getItemCards()">
    <h2 class="component-title component-title">Formas de contato</h2>
    <div class="card-account" *ngFor="let item of itemCardsContact">
      <img class="card-account-icon" [src]="item.img" [alt]="item.alt">
      <a class="card-account-btn" [href]="item.lnk" role="button">
        <p class="card-account-dsc"> {{ item.dsc }}</p>
      </a>
    </div>
    </div>
  </div>
</div>
