<div class="header-component bg-body-tertiary fixed-top">
  <div class="header-division" id="first-header-division">
    <h3 class="header-title">{{ header_title }}</h3>
  </div>
  <div class="header-division" id="second-header-division">
    <nav class="navbar navbar-expand-sm bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a [class]="anchor.class" aria-disabled="true" aria-current="page" [href]="anchor.href" *ngFor="let anchor of anchors">
              {{ anchor.name }}
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
