.header-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 620px;
  height: max-content;
  max-height: 400px;
  background-color: #ffefe8;
  margin-bottom: 400px !important;
  margin: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #9D8189;
  font-size: 16px;
  box-shadow: 0px 1px 4px rgba(88, 88, 88, 0.493);
}

.header-title {
  margin-left: 0.45rem;
}

#first-header-division {
  width: 30%;
  height: 100%;
}

#second-header-division {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 0.45rem;
}

.header-navbar, .header-navbar-invisible {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.header-navbar-invisible {
  visibility: hidden;

}

.header-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.navbar-btn, .navbar-btn-menu {
  background-color: #9D8189;
  color: #FFFFFF;
  border-radius: 8px;
  width: 64px;
  height: 32px;
  font-size: 14px;
  padding: 0.10rem 0.25rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  margin: 0.45rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}

.navbar-btn-menu {
  width: 32px;
}

.navbar-menu-icon {
  width: 32px;
}

.nav-link {
  padding: 0.10rem 0.25rem;
  text-align: center;
  border: 0.5px solid gray;
  border-radius: 4px;
}

.navbar-brand {
  text-align: center;
  border: 0.5px solid lightblue;
  border-radius: 4px;
  padding: 0.10rem 0.25rem;
}

.navbar-btn-darkMode{
  border-radius: 10px;
  border: 1.5px solid black;
  background-color: rgb(80, 80, 80);
  width: 60px;
  height: 20px;
  margin-left: 0.15rem;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.navbar-btn-lightMode {
  border-radius: 10px;
  border: 1.5px solid black;
  background-color: rgb(80, 80, 80);
  width: 60px;
  height: 20px;
  margin-left: 0.15rem;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.navbar-icon {
  width: 15px;
}
