<div class="projects-component page-component">
  <h2 class="contact-title tag-title">Conheça alguns projetos meus!</h2>
  <!-- <app-item-card></app-item-card> -->
  <div class="project-card-container">
    <div class="project-card">
      <h2 class="project-title">Pokémon: Pokédex</h2>
      <div class="project-content-division">
        <img class="project-img" src="" alt="Projeto">
        <h5 class="project-list-title">Tags do Projeto:</h5>
        <ul class="project-tag-list">
          <li class="project-tag-item">Inspirado</li>
          <li class="project-tag-item">C#</li>
          <li class="project-tag-item">HTML</li>
          <li class="project-tag-item">CSS</li>
          <li class="project-tag-item">Javascript</li>
          <li class="project-tag-item">Angular</li>
          <li class="project-tag-item">Front-end</li>
          <li class="project-tag-item">API</li>
        </ul>
      </div>
      <span class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptas facere, quibusdam delectus mollitia libero. Unde ipsa delectus dolor cumque vitae architecto ullam repellat? Id ullam totam labore beatae consectetur.</span>
    </div>
  </div>
</div>
